@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');

@import "tailwindcss";

:root {
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: #0f0a19;
  color: #f1f1f1;
}

h1, h2, h3, .heading {
  font-family: var(--font-heading);
}
